@import './Styling/GlobalColors.scss';
@import './Styling/Graphs.scss';
@import './Styling/LoginScreen.scss';
@import './Styling/Navigation.scss';
@import './Styling/Department.scss';
@import './Styling/Tooltip.scss';
@import './Styling/Employee.scss';
@import './Styling/Modal.scss';

* {
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

