@import './GlobalColors.scss';

.hide-on-mobile {
    display: none;
}

.department-container {
    padding-top: 100px;
    padding-left: 22px;
    padding-right: 22px;
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;
    z-index: 1;

    &__dapartment-name {
        color: $mt-orange;
        font-size: 36px;
        text-transform: uppercase;
        width: 100%;
    }

    &__graph {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        filter: drop-shadow(0px 0px 10px #00000020);
        background-color: #ffffff;
        margin-top: 15px;
        padding: 20px;
        
        &__flex {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__title {
            font-size: 18px;
        }
        
        &__sub {
            color: $mt-orange
        }

        &__li {
            display: flex;
            gap: 10px;

            :nth-child(1) {
                color: $mt-orange;
                font-weight: bold;
                letter-spacing: 2px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .hide-on-desktop {
        display: none;
    }

    .hide-on-mobile {
        display: block;
    }

    .department-container {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0px;

        &__flex {
            display: flex;
        }

        &__graph {
            height: 100%;

            &__frame {
                height: 87.1%;
            }

            &__title {
                font-size: 24px;
            } 
        }


        &__labels {
            display: flex;
            width: 100%;
            justify-content: space-around;
            padding-left: 30px;

            div {
                width: 210px;
                text-align: center;
            }
        }
    }
}