@import 'GlobalColors.scss';

.modal {
  display: flex; /* Hidden by default */
  justify-content: center;
  align-items: center;
  position: fixed; /* Stay in place */
  z-index: 20; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 22px;
    padding-right: 22px;
    width: 95vw;
    height: 98vh;
    filter: drop-shadow(0px 0px 10px #00000020);
    background-color: #ffffff;
    z-index: 1;

    .modal__button {
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $mt-orange;
      border: none;
      width: 125px;
      height: 45px;
      font-size: 18px;
      border-radius: 22.5px;
      color: white;
      text-decoration: none;
      margin-top: auto;
    }

    input[type="range"] {
        -webkit-appearance: none;
        margin-right: 15px;
        width: 70vw;
        height: 5px;
        background: rgba(255, 255, 255, 0.6);
        border-radius: 5px;
        background-image: linear-gradient($mt-orange, $mt-orange);
        background-repeat: no-repeat;
      }
      
      input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: 45px;
        width: 45px;
        border-radius: 50%;
        border-style: solid;
        border-width: 5px;
        border-color: $mt-orange;
        background: white;
        transition: background .3s ease-in-out;
      }
      
      input[type=range]::-webkit-slider-runnable-track  {
        -webkit-appearance: none;
        box-shadow: none;
        border: none;
        background: transparent;
      }
}

.modal-container-content {
  display: flex;
  height: 98vh;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  justify-content: center;

  &__number {
    margin-bottom: 50px;
  }

  &__dynamic-text {
    margin-top: 50px;
  }

  &__orange-text {
    color: $mt-orange;
    margin-bottom: auto;
    height: 20px;
    text-align: center;
  }

  &__tags-container {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__tags {
    cursor: pointer;
    background-color: rgba($mt-orange, .6);
    padding: 15px;
    text-align: center;
    color: white;
    width: 275px;
    height: auto;
    font-size: 16px;
  }
}

.tua {
    display: none;
}
