@import './GlobalColors.scss';

.desktop-nav-container {
    display: none;
}

.mobile-nav-container {
    display: flex;
    align-items: center;
    background-color: $mt-orange;
    height: 75px;
    width: 100%;
    position: fixed;
    z-index: 3;


    &__profile {
        margin-left: auto;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        width: 75px;
    }
}

.active {
    background-color: white;

    img {
        filter: brightness(0) saturate(100%) invert(77%) sepia(22%) saturate(5931%) hue-rotate(334deg) brightness(100%) contrast(102%);
    }
}

.dropdown-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-left: 22px;
    padding-right: 22px;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: white;

    &__headline {
        color: $mt-orange;
        font-weight: bold;
        font-size: 36px;
    }

    :nth-child(4) {
        align-self: center;
        margin-top: auto;
        margin-bottom: 50px;
    }

    &__employees {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .body-flex {
        display: flex;
        width: 100%;
        gap: 15px;
        height: 100vh;
        padding: 15px;
    }

    .mobile-nav-container {
        display: none;
    }

    .dropdown-container {
        display: none;
    }

    .desktop-nav-container {
        display: flex;
        gap: 10px;
        font-size: 18px;
        flex-direction: column;
        height: 100%;
        max-width: 250px;
        padding: 30px;
        background-color: white;
        filter: drop-shadow(0px 0px 10px #00000020);

        &__logo {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        h3 {
            margin-top: 20px;
        }

        img {
            width: 120px;
        }

        &__employee-list {
            display: flex;
            flex-direction: column;
            gap: 10px;
            font-weight: 100;
        }

        &__profile-name {
            margin-top: auto;
        }

        &__log-out {
            text-decoration: none;
            color: black;
        }
    }
}