@import './GlobalColors.scss';

.nav-container {
    position: relative;
    display: flex;
    align-items: center;
    background-color: $mt-orange;
    height: 75px;
    width: 100%;
    position: fixed;

    :nth-child(3) {
        margin-left: auto;
    }

    div {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 75px;
        width: 75px;
    }
}

.active {
    background-color: white;

    img {
        filter: brightness(0) saturate(100%) invert(77%) sepia(22%) saturate(5931%) hue-rotate(334deg) brightness(100%) contrast(102%);
    }
}

.dropdown-container {
    top: 75px;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 22px;
    padding-right: 22px;
    width: 100%;
    background-color: aqua;

    &__headline {
        color: $mt-orange;
        font-weight: bold;
        font-size: 36px;
    }

    :nth-child(4) {
        align-self: center;
        margin-top: auto;
        margin-bottom: 50px;
    }

    &__employees {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        gap: 10px;
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    body {
        display: flex;
    }
}